# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# ignore local workspace folders
Documents/
My_First_Portfolio/
Polling-app/
TechCon_HTML/
ai-agent/
alx_fe_javascript/
alx_html_css/
file1.txt
index.html
