@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		background: linear-gradient(180deg, #160524 0%, #002E78 100%);
		min-height: 100vh;
		font-family: 'Inter', sans-serif;
		color: #ffffff;
	}
}
