name: Build

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Dependencies
        working-directory: ./weather-app
        run: npm install

      - name: Build application
        working-directory: ./weather-app
        run: npm run build


# restored by ci/restore-workflow-2
